#m_staff {
    width: 100%;
    height: 100%;
}

.head{
	width: 50%;
	height: 6%;
	float: left;
	border-bottom: 1px black solid; 
}

#body_mstaff{
	width: 100%;
	height: 94%;
	clear: both;
}

.head a{
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.head a:hover{
	background-color: #fff8a6;
	color:red;
}

#add{
	width: 100%;
	height: 100%;
}

#add form{
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}


#add_right{
	width: 60%;
	height: 100%;
	border-left: 1px solid red; 
	border-right: 1px solid red; 
}

#manager_code,#manager_name,#manager_password,#manager_email{
	width: 80%;
	height: 10%;
	margin-top:2%;
	font-size: 20px;
	text-align: center;
}

#manager_address,#manager_hometown{
	width: 80%;
	height: 13%;
	margin-top: 2%;
	font-size: 18px;
	text-align: center;
}

#manager_sex,#manager_dob{
	width: 30%;
	height: 5%;
	margin-top:1%;
}

#add_right button{
	width: 15%;
	height: 5%;
	margin-top:2%;
}

#add_left_top{
	width: 100%;
	height: 80%;
	border-bottom:1px solid red;
	display: flex;
    justify-content: center;
    align-items: center;
}
#add_left_top img{
	max-width: 100%;
	max-height: 100%;
}

#add_left_bottom{
	width: 100%;
	height: 20%;
	display: flex;
    justify-content: center;
    align-items: center;
}