*{
	box-sizing: border-box;
}
#header{
	width: 100%;
	height: 30px;
	border:solid 1px red;
	text-align:right;
	vertical-align: bottom;
}

.ss{
	display: inline-block;
}

#dangnhap{
	width:130px;
	height: 100%;
	height: 100%;
	border:solid 1px green;
	text-align:center;
}

#dangky{
	width:130px;
	height: 100%;
	border:solid 1px green;
	text-align:center;
}

#username{
	width:150px;
	height: 30px;
	border:solid 1px green;
	text-align:center;
	display: inline-block;
	-webkit-transition: 0.6s;
	transition: 0.6s;


}

#manage{
	/*display: none;*/
	width:150px;
	overflow: hidden;
	/*height: 50px;*/
	height:0px;
	
	text-align:center;
	margin-right: 0px;
	-webkit-transition: 0.6s;
	transition: 0.6s;

	display: flex;
  	justify-content: center;
  	align-items: center;

}

#dangxuat{
	/*display: none;*/
	width:150px;
	/*height: 50px;*/
	overflow: hidden;
	height:0px;
	/*border:solid 1px green;*/
	text-align:center;
	margin-right: 0px;
	-webkit-transition: 0.6s;
	transition: 0.6s;

	display: flex;
  	justify-content: center;
  	align-items: center;
}

#tennguoidung{
	width:150px;
	height: 100%;
	overflow-x: scroll;
	border:solid 1px green;
	text-align:center;
	display: flex;
  	/*justify-content: center;*/
  	align-items: center; /* ra giua dong theo chieu doc*/
  	font-size:17px;
}

#username:hover{
	/*background:#d8d8d8;*/
	color:#c80f31;
}

.hov a{
	display:inline-block;
}

#username:hover .hov{
	height: 40px;
	border:solid 1px green;
}

#tennguoidung::-webkit-scrollbar {
    display: none;
}