* {
    box-sizing: border-box;
}

#taskbar {
    width: 100%;
    height: 165px;
    border: none;
    display: flex;
    flex-direction: row;
}

#taskbar_logo {
    width: 18%;
    height: 100%;
    text-align: center;
}

#logo {
    max-width: 100%;
    max-height: 100%;
}

#taskbar_product {
    width: 30%;
    /*width: 33%;*/
    height: 100%;
    border-radius: 7px;
}

#taskbar_search {
    width: 36%;
    /*width: 33%;*/
    height: 100%;
    /*background-color:#ff55ff;*/
    border-right: solid 1px black;
    border-left: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskbar_cart {
    height: 100%;
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#taskbar_cart a {
    display: block;
    width: 55%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#taskbar_cart a:-webkit-any-link {
    text-decoration: none;
}

#cart1 {
    max-width: 100%;
    max-height: 100%;
}

#cart1:hover {
    max-width: 120%;
    max-height: 120%;
}

#close {
    width: 100%;
    height: 0%;
    background-color: #3a3a3a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: none;
    border-top: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quaylai {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hang {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dong {
    color: #78837d;
    font-size: 33px;
    display: inline-block;
    height: 100%;
    width: 20%;
    text-align: center;
    transition: 0.4s;
}

#dong:hover {
    color: white;
    font-size: 36px;
}

#taskbar_sanpham {
    width: 100%;
    height: 100%;
    -webkit-transition: 1.2s;
    transition: 1.2s;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.logo {
    width: 0%;
    height: 0%;
    -webkit-transition: 1.1s;
    transition: 1.1s;
    border-bottom: none;
    border-top: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    opacity: 0.9;
}

#taskbar_sanpham img {
    max-height: 70%;
    max-width: 70%;
    -webkit-transition: 1s;
    transition: 1s;
}

#taskbar_product p {
    font-weight: bold;
    font-size: 53px;
}

#taskbar_sanpham:hover #quaylai1 {
    max-height: 75%;
    max-width: 75%;
}

.icon {
    max-height: 70%;
    max-width: 70%;
}

.logo:hover {
    background-color: #b9c2c6;
    opacity: 1;
}

#quaylai:hover {
    background-color: #ebebeb;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}