*{
	box-sizing: border-box;
}
#container{
	height: auto;
}
#staff_infor{
	width:50%;
	height: 800px;
	margin:auto;
	margin-top:5%;
}

#staff_infor img{
	max-height: 45%;
	max-width:45%;
	display: inline-block;
}

#staff_infor #form_edit_pass{
	display: none;
}

#staff_infor #ab{
	color:red;
	font-size: 20px;
	margin-top:0px;
	margin-bottom:10px;
}