*{
	box-sizing: border-box;
}
#body{
	width:100%;
	height: auto;
	/*border:solid 1px black;*/
	border-top:none;
}

#body_search{
	width:18%;
	max-width: 18%;
	height: auto;
	/*border-right:1px black solid;*/
	background: green;
	position: fixed;
	left:0px;
	overflow: hidden;
}

#body_show_product{
	width:82%;
	height: auto;
	border:1px red solid;
	float:right;
	position: relative;
	z-index: -1;
}

#page{
	height: 30px;
	width: 100%;
	background: red;
}

#no{
	background-repeat: no-repeat;
	background-position: center 40%;
	background-image:url("img/error.png"); 
	/*background-color: royalblue;*/
	height: 700px;
	width:100% ;
}